
= content_for :title, t('user').capitalize

%ul{ class: 'col-span-6' }
  %li
    %h2{ class: 'text-2xl font-bold text-sky-900' } Ф. И. О.
    %p= "#{@user.surname} #{@user.name} #{@user.patronymic}"
    %h2{ class: 'text-2xl font-bold text-sky-900' } Должность
    %p= @user.position

