
-##
-## To disable Turbo Drive on a link or a form add the `data: { turbo: false }`
-## on it.
-##
-## Details:
-##
-## [Learn what role Turbo Drive plays in Hotwire and Rails](https://www.hotrails.dev/turbo-rails/turbo-drive)
-##
-## = form_with model: quote, data: { turbo: false } do |form|
-##

= form_with model: quote do |form|
  %div
    %div
      = form.label :name, 'Name'
    %div
      = form.text_field :name
    %div
      = link_to 'Cancel', quotes_path
    %div
      -# = form.submit t('helpers.submit.quote'), data: { turbo_frame: '_top' }
      = form.submit t('helpers.submit.quote')

