<div id="<%= dom_id specification %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= specification.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= specification.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= specification.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contract:</strong>
    <%= specification.contract_id %>
  </p>

</div>
