<div id="<%= dom_id contract %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('contract.attr.number') %></strong>
    <%= contract.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('contract.attr.date') %></strong>
    <%= contract.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('contract.attr.description') %></strong>
    <%= contract.description %>
  </p>

</div>
