
= content_for :title, t('contract').capitalize

%div{ class: 'col-start-1 col-span-3' }
  %h1{ class: 'text-2xl font-bold text-sky-900' }= t('contract').capitalize
  %ul
    %li
      %span{ class: 'font-bold text-sky-900' } Номер:
      %span= @contract.number
    %li
      %span{ class: 'font-bold text-sky-900' } Дата:
      %span= @contract.date
    %li
      %h1{ class: 'font-bold text-sky-900' } Описание
      %p= @contract.description
%div{ class: 'col-start-4 col-span-3' }
  %h1{ class: 'text-2xl font-bold text-sky-900' }= t('specifications').capitalize
  %ul{ class: 'space-y-4' }
    - @contract.specifications.each do |specification|
      %li
        %p
          %span{ class: 'font-bold text-sky-900' }= "#{t('specification.number').capitalize}:"
          %span= specification.number
        %p
          %span{ class: 'font-bold text-sky-900' }= "#{t('specification.date').capitalize}:"
          %span= specification.date
        %p
          %h1{ class: 'font-bold text-sky-900' }= t('specification.description').capitalize
          %p= specification.description

