
%h1 New project
%div
  = form_for @project do |f|
    %div
      %div
        = f.label :name
      %div
        = f.text_field :name
      %div
        = f.label :description
      %div
        = f.text_field :description
      %div
        = f.submit 'Create project'
%div
  - if @project.errors.any?
    %ul
      - @project.errors.full_messages.each do |message|
        %li
          = message

